html {
  background-image: url(../img/carbon.png);
  background-repeat: repeat; 
}

html, body {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  margin:0;
  padding:0;
  font-size: 100%;
  overflow:hidden;
}

table {
  width:100%;
  table-layout: fixed;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
	cursor: pointer;
	display: none;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.odometer{
  display: table;
  margin: 0 auto;
}

.svg-inject {
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: top;
}
.svg-grey * {
  fill:#606060;
}
.svg-green * {
  fill:#569e26;
}
.svg-yellow * {
  fill:#efc411;
}
.svg-red * {
  fill:#b52808;
}

.sortable-ghost {
  opacity: .2;
}

.tile {
  position: relative;
  padding: 10px 30px;
  text-align: center;
  margin-top: 35px;
  margin-left: 25px;
  margin-right: 25px;
  /*
  background-color: #fff;
  border: 1px solid white;
  border-radius: 10px;
  */
}
.tile__name {
  cursor: move;
  padding-bottom: 10px;
  border-bottom: 1px solid #FF7373;
}
.tile__list {
  margin-top: 10px;
}
.tile__list:last-child {
  margin-right: 0;
  min-height: 80px;
}
.tile__list img {
  cursor: move;
  margin: 10px;
  border-radius: 100%;
}