.card {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 1500ms;
    transition: all 1500ms;
    margin: 0;
    padding: 0;
}

.card div {
	position: absolute;
	height: 100%;
	width: 100%;
	/*
    background: #FFF;
    line-height: 10px;
    */
	text-align: center;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 2px;
}

.card .front {
    cursor: none;
}

.card .back {
	background: #222;
	color: #FFF;
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
    cursor: pointer;
}

/*
input {
    display: none;
}
*/

label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    /*
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    */
}

/*
:checked + .card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

label:hover .card {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

label:hover :checked + .card {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
    box-shadow: 0 20px 20px rgba(255,255,255,.2);
}
*/